 {% extends "base.html" %}

{% block content %}

<div class="dashboard-container">

    <h1>EVENT LOGS</h1>

    <hr>

    <form method="GET" action="{{ url_for('event_logs') }}">

        <p>
            <strong>Candidate ID</strong><br>
            <input
                type="text"
                name="candidate_id"
                value="{{ candidate_id }}"
            >
        </p>

        <p>
            <strong>Event Type</strong><br>

            <select name="event_type">

                <option value="">All</option>

                <option value="Face Not Detected"
                    {% if event_type=="Face Not Detected" %}selected{% endif %}>
                    Face Not Detected
                </option>

                <option value="Browser Focus Lost"
                    {% if event_type=="Browser Focus Lost" %}selected{% endif %}>
                    Browser Focus Lost
                </option>

                <option value="Multiple Faces Detected"
                    {% if event_type=="Multiple Faces Detected" %}selected{% endif %}>
                    Multiple Faces Detected
                </option>

            </select>

        </p>

        <p>
            <strong>Date</strong><br>

            <input
                type="date"
                name="event_date"
                value="{{ event_date }}"
            >
        </p>

        <button class="register-btn">
            Filter
        </button>

    </form>

    <hr>

    <table class="event-table">

        <tr>

            <th>Candidate ID</th>
            <th>Event Type</th>
            <th>Timestamp</th>
            <th>Evidence</th>

        </tr>

        {% for event in events %}

        <tr>

            <td>{{ event.candidate_id }}</td>
            <td>{{ event.event_type }}</td>
            <td>{{ event.timestamp }}</td>

            <td>

{% if event.proof_image %}

<a href="{{ url_for('static', filename=event.proof_image) }}"
   target="_blank">
    View Screenshot
</a>


{% else %}

No Screenshot

{% endif %}

</td>

        </tr>

        {% endfor %}

    </table>

</div>

{% endblock %}