{% extends "base.html" %}

{% block content %}

<h2>Candidate Login</h2>

<p class="subtitle">Login using your registered email and password.</p>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p class="message">{{ message }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<form method="POST">
    <label>Email</label>
    <input type="email" name="email" placeholder="Enter Email Address" required>

    <label>Password</label>
    <input type="password" name="password" placeholder="Enter Password" required>

    <button type="submit">Login</button>
</form>

<p class="link-text">
    New candidate?
    <a href="{{ url_for('register') }}">Register here</a>
</p>

{% endblock %}